<div *ngIf="question">
  <h1>
    {{question.title}}
  </h1>
  <hr />
  <table>
    <tr>
      <td>
        <app-vote [score]="question.score"></app-vote>
      </td>
      <td>
        {{question.user.name}}
        <hr />
        <div *ngFor="let p of question.content">
          <p>{{p}}</p>
        </div>
      </td>
    </tr>
  </table>
  <table *ngFor="let c of question.comments">
    <tr>
      <app-comment [comment]="c"></app-comment>
    </tr>
  </table>

  <div *ngIf="question.correctAnswer">
    <hr />
    <h2>Resposta:</h2>
    <app-answer [answer]="question.correctAnswer"></app-answer>
  </div>

  <h2 *ngIf="question.otherAnswers">Outras Respostas:</h2>
  <div *ngFor="let a of question.otherAnswers">
      <hr />
      <app-answer [answer]="a"></app-answer>
  </div>

</div>


<div *ngIf="!question">
  <h1>Carregando...</h1>
</div>
