<div *ngIf="question">
  <h1>
    {{question.title}}
  </h1>
  <hr />
  <table>
    <tr>
      <td>
        <app-vote [score]="question.score" (upvote)="upvote()" (downvote)="downvote()"></app-vote>
      </td>
      <td>
        {{question.user.name}}
        <hr />
        {{question.content}}
      </td>
    </tr>
  </table>
  <table *ngFor="let c of question.comments">
    <tr>
      <app-comment [comment]="c"></app-comment>
    </tr>
  </table>
  <app-create-comment [questionID]="question.id"></app-create-comment>

  <div *ngIf="question.correctAnswer">
    <hr />
    <h2>Resposta Certa:</h2>
    <app-answer [answer]="question.correctAnswer"></app-answer>
  </div>

  <h2 *ngIf="question.otherAnswers">Outras Respostas:</h2>
  <div *ngFor="let a of question.otherAnswers">
      <hr />
      <button (click)="isCorrect(a.id)">Correta</button>
      <app-answer [answer]="a"></app-answer>
  </div>

  <app-create-answer [questionID]="question.id"></app-create-answer>

</div>


<div *ngIf="!question">
  <h1>Carregando...</h1>
</div>
